<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.4.2/css/pico.min.css">
    <title>{{.Post.Title}}</title>
  </head>
  <body>
    <main class="container">
      <article>
          <header>{{.Post.Title}} <small>({{.Post.ID}})</small></header>
          <img src="data:{{.Post.ContentType}};base64,{{.Post.Attachment}}"/>
      </article>
    </main>
  </body>
</html>