<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.4.2/css/pico.min.css">
    <title>Posts</title>
  </head>
  <body>
    <main class="container">
      <h1>Posts</h1>
        {{range .Posts -}}
        <article>
            <header>{{.Title}} <small><a href="/p/{{.ID}}">({{.ID}})</a></small></header>
            {{range .Blobs -}}
              <img src="/b/{{.}}"/>
            {{end}}
        </article>
        {{end}}
    </main>
  </body>
</html>